<div class="container">
  <div class="content">
    <form action="" [formGroup]="passwordForm">
      <input type="password" class="password_input" placeholder="Password" name="password" formControlName="password" (input)="checkStrength()">
    </form>
    <div class="indicator_container">
      <div class="section" [class.wrong]="isShort" [ngClass]="{ 'weak': charTypes === 1, 'medium': charTypes === 2, 'strong': charTypes === 3 }"></div>
      <div class="section" [class.wrong]="isShort" [ngClass]="{ 'medium': charTypes === 2, 'strong': charTypes === 3 }"></div>
      <div class="section" [class.wrong]="isShort" [ngClass]="{ 'strong': charTypes === 3 }"></div>
    </div>
  </div>
</div>