<form action="" [formGroup]="passwordForm">
    <input matInput type="password" class="password_input" placeholder="Password" name="password" formControlName="password">
</form>
<div class="indicator_container">
    <div class="section" [ngClass]="{ 'wrong': getPasswordMinLengthError(), 'weak': getPasswordStrength(PasswordStrength.Weak), 'medium': getPasswordStrength(PasswordStrength.Medium), 'strong': isPasswordStrong()}"></div>
    <div class="section" [ngClass]="{ 'wrong': getPasswordMinLengthError(), 'medium': getPasswordStrength(PasswordStrength.Medium), 'strong': isPasswordStrong() }"></div>
    <div class="section" [ngClass]="{ 'wrong': getPasswordMinLengthError(), 'strong': isPasswordStrong() }"></div>
</div>